body{
	background-color:#262626;
}

#container{
margin: auto;
margin-top:100px;
background-color:#244659;
height: 450px;
width: 600px;
padding-top: 20px;
}
#card{
background-image: url(../img/IMG_7933.png);
margin-top: 100px;
margin-bottom:20px;
margin: auto;
background-color:#154786;
height: 300px;
width: 480px;
}
.btn1{

margin-left: 60px;
}